<h2>Movie Overview</h2>

<p ng-show="movies.length == 0">
  No movies found
</p>

<table class="table table-striped table-hover movie-overview"
       ng-show="movies.length > 0">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="movie in movies | orderBy:predicate"
        ng-click="click(movie.id)">
      <td>
        <a href="/movies/{{movie.id}}"
           title="Get more information for the movie {{movie.title}}">
          {{movie.title}}
        </a>
      </td>
      <td>
        <a href="/movies/{{movie.id}}/comments"
           title="See comments for the movie {{movie.title}}" class="icon-comment">
         </a>
      </td>
      <td>
        <a href="/notimplemented"
           title="See tags for the movie {{movie.title}}" class="icon-tags">
         </a>
      </td>
    </tr>
  </tbody>
</table>