body {
  margin-top: 50px;
}

.loading-indicator {
  padding: 3px 10px;

  // navbar has z-index 1030
  z-index: 1040;
  position: fixed;
  top: -1px;
  left: 50%;

  display: inline-block;

  background: rgb(240, 240, 100);
}

.legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: normal;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}